.container-content2 {
  padding-left: $p142;
  padding-right: $p142;
  padding-bottom: $p32;
  padding-top: $p32;

  &-title {
    color: $blanco;
    margin-bottom: $m32;
  }

  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    margin-bottom: $m32;

    &-item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: $p24;
      background-color: $rellenos;
      border-radius: 8px;
      cursor: pointer;
      border: 1px solid $rellenos;

      &:hover {
        border: 1px solid $blanco;
      }

      &-icon {

        & svg path {
          stroke: $gris;
        }
      }

      &-title {
        color: $acento;
        font-weight: normal;
      }

      &-desc {
        color: $blanco;
        font-size: $body1_font_size;
        line-height: $body1_line_height;
      }
    }
  }

  &-thanmore {
    text-align: center;

    &-button {
      padding-left: $p24;
      padding-right: $p24;
      padding-bottom: $p16;
      padding-top: $p16;
      border-radius: 5px;
      outline: none;
      border: 1px solid $gris;
      background-color: $fondo;
      color: $blanco;
      cursor: pointer;

      &:hover {
        background-color: $hover;
      }
    }
  }

  &-page {

    &-navigation {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      &-item {
        padding: $p16 $p24;
        border: 1px solid $gris;
        border-radius: 5px;
        color: $blanco;
        cursor: pointer;

        &:hover {
          background-color: $hover;
        }
      }
    }
  }
}
