@font-face {
  font-family: 'poppinsregular';
  src: url('../font/poppins-regular-webfont.eot');
  src: url('../font/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/poppins-regular-webfont.woff2') format('woff2'),
  url('../font/poppins-regular-webfont.woff') format('woff'),
  url('../font/poppins-regular-webfont.svg#poppinsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}