// Font Size & Line Height Variables
$subtitle1_font_size : 16px;
$subtitle1_line_height : 20px;

$subtitle2_font_size : 14px;
$subtitle2_line_height : 24px;

$body1_font_size : 16px;
$body1_line_height : 28px;

$body2_font_size : 14px;
$body2_line_height : 20px;

$boton_font_size : 16px;
$boton_line_height : 16px;

$caption_font_size : 12px;
$caption_line_height : 16px;

$overline_font_size : 10px;
$overline_line_height : 16px;

$overline_font_size : 8px;
$overline_line_height : auto;


// Color Variables
$gris : #A0A0A1;
$fondo : #171718;
$rellenos : #1C1E22;
$bordes : #26292D;
$acento : #85BFD1;
$blanco : #FFFFFF;
$primario : #5C62EC;
$hover : #3C40AE;


// Padding Variables
$p4 : 4px;
$p8 : 8px;
$p16 : 16px;
$p24 : 24px;
$p32 : 32px;
$p64 : 64px;
$p128 : 128px;
$p142 : 142px;


// Margin Variables
$m4 : 4px;
$m8 : 8px;
$m16 : 16px;
$m24 : 24px;
$m32 : 32px;
$m64 : 64px;
$m128 : 128px;
$m142 : 142px