@import "js/highlight/styles/github-dark.min.css";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "poppinsregular";
  src: url("../font/poppins-regular-webfont.eot");
  src: url("../font/poppins-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/poppins-regular-webfont.woff2") format("woff2"), url("../font/poppins-regular-webfont.woff") format("woff"), url("../font/poppins-regular-webfont.svg#poppinsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-size: 60px;
  line-height: 71px;
}

h2 {
  font-size: 48px;
  line-height: 57px;
}

h3 {
  font-size: 34px;
  line-height: 40px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
}

h5 {
  font-size: 20px;
  line-height: 24px;
}

body {
  font-family: poppinsregular;
  background-color: #171718;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 142px;
  padding-right: 142px;
  height: 68px;
  border-bottom: 1px solid #26292D;
}
.container-header-logo {
  color: #FFFFFF;
}
.container-header-collapse {
  display: none;
  cursor: pointer;
  padding: 4px;
}
.container-header-collapse:hover svg path {
  stroke: #3C40AE;
}
.container-header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 16px;
  gap: 23px;
}
.container-header-nav-item {
  padding-right: 8px;
  padding-top: 8px;
  padding-left: 8px;
  padding-bottom: 4px;
  cursor: pointer;
  border-bottom: 2px solid #171718;
}
.container-header-nav-item:hover {
  border-bottom: 2px solid #3C40AE;
}

.container-search {
  padding-left: 142px;
  padding-right: 142px;
  padding-top: 64px;
  padding-bottom: 64px;
  border-bottom: 1px solid #26292D;
}
.container-search-title {
  color: #FFFFFF;
  font-weight: normal;
  text-align: center;
  margin-bottom: 24px;
}
.container-search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  margin-bottom: 24px;
}
.container-search-form-input {
  height: 48px;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  line-height: 28px;
  padding-left: 16px;
  width: 430px;
  color: #A0A0A1;
  border: 1px solid #A0A0A1;
  background-color: #1C1E22;
}
.container-search-form-input:focus {
  color: #FFFFFF;
}
.container-search-form-button {
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 5px;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  background-color: #1C1E22;
  font-size: 16px;
  line-height: 28px;
  cursor: pointer;
}
.container-search-form-button:hover {
  background-color: #3C40AE;
}
.container-search-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container-search-categories-item {
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: #85BFD1;
  cursor: pointer;
}
.container-search-categories-item:hover {
  color: #3C40AE;
  background-color: #FFFFFF;
}

.container-content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 142px;
  padding-right: 142px;
  padding-top: 64px;
  padding-bottom: 64px;
}
.container-content1-img {
  width: 448px;
  height: 547px;
  border-radius: 8px;
  margin-right: 142px;
}
.container-content1-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container-content1-text-title {
  color: #FFFFFF;
  margin-bottom: 24px;
}
.container-content1-text-desc {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 24px;
}
.container-content1-text-link {
  text-decoration: none;
  color: #85BFD1;
}
.container-content1-text-link:hover {
  color: #3C40AE;
}

.container-content2 {
  padding-left: 142px;
  padding-right: 142px;
  padding-bottom: 32px;
  padding-top: 32px;
}
.container-content2-title {
  color: #FFFFFF;
  margin-bottom: 32px;
}
.container-content2-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
.container-content2-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 24px;
  background-color: #1C1E22;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #1C1E22;
}
.container-content2-list-item:hover {
  border: 1px solid #FFFFFF;
}
.container-content2-list-item-icon svg path {
  stroke: #A0A0A1;
}
.container-content2-list-item-title {
  color: #85BFD1;
  font-weight: normal;
}
.container-content2-list-item-desc {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 28px;
}

.container-postdetail {
  padding-left: 142px;
  padding-right: 142px;
  padding-bottom: 32px;
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.container-postdetail-title {
  color: #FFFFFF;
}
.container-postdetail-p {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 28px;
}

.container-addpost {
  padding-left: 142px;
  padding-right: 142px;
  padding-bottom: 32px;
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.container-addpost-title {
  color: #FFFFFF;
}
.container-addpost-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container-addpost-form label {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 28px;
}
.container-addpost-form-input, .container-addpost-form-select, .container-addpost-form-button {
  height: 50px;
  color: #FFFFFF;
  background-color: #171718;
  outline: none;
  border: 1px solid #A0A0A1;
  border-radius: 5px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 28px;
}
.container-addpost-form-textarea {
  font-size: 16px;
  line-height: 28px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;
  border: 1px solid #A0A0A1;
  color: #FFFFFF;
  background-color: #171718;
  height: 700px;
  resize: vertical;
}
.container-addpost-form-button {
  cursor: pointer;
}
.container-addpost-form-button:hover {
  background-color: #3C40AE;
}

.container-footer {
  padding-left: 142px;
  padding-right: 142px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container-footer-top {
  padding-top: 64px;
  padding-bottom: 40px;
  border-top: 1px solid #26292D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container-footer-top-title {
  color: #FFFFFF;
}
.container-footer-top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 28px;
}
.container-footer-top-nav-item {
  margin-bottom: 24px;
  cursor: pointer;
}
.container-footer-top-nav-item:hover {
  color: #3C40AE;
}
.container-footer-top-nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  cursor: pointer;
}
.container-footer-top-nav-icons-item svg {
  width: 30px;
  height: 30px;
}
.container-footer-top-nav-icons-item:hover svg path {
  fill: #85BFD1;
}
.container-footer-bottom {
  border-top: 1px solid #26292D;
  padding-top: 16px;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

@media only screen and (max-width: 575px) {
  .container-header {
    padding-left: 16px;
    padding-right: 16px;
  }
  .container-header-collapse {
    display: block;
  }
  .container-header-nav {
    display: none;
  }

  .container-search {
    padding-left: 16px;
    padding-right: 16px;
  }
  .container-search-title {
    font-size: 28px;
  }
  .container-search-form-input {
    height: 40px;
  }

  .container-postdetail {
    padding-left: 16px;
    padding-right: 16px;
  }

  .container-content1 {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 64px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-content1-text {
    margin-top: 24px;
  }

  .container-content2 {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 64px;
    padding-top: 32px;
  }
  .container-content2-title {
    margin-bottom: 32px;
  }
  .container-content2-list {
    grid-template-columns: 1fr;
  }

  .container-footer {
    padding-left: 16px;
    padding-right: 16px;
  }
  .container-footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
  }
  .container-footer-top-title {
    margin-bottom: 32px;
  }
  .container-footer-top-nav-item {
    text-align: center;
  }
}
.btn-active {
  border-bottom: 2px solid #3C40AE;
}

.acento {
  color: #85BFD1;
}

.primary {
  color: #5C62EC;
}

.pre {
  line-height: 20px;
  font-size: 16px;
}

.pre-title {
  padding-left: 16px;
  font-size: 14px;
  background-color: #A0A0A1;
  font-weight: bold;
  color: #171718;
  padding-top: 2px;
  padding-bottom: 2px;
}

.link {
  text-decoration: none;
  color: #85BFD1;
}
.link:hover {
  color: #3C40AE;
}

label {
  cursor: pointer;
}